/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, a, div, .p {
    font-family: arial, sans-serif
}

.gwt-Button {
    background-color: #006bb3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    padding: 3px 7px;
    text-decoration: none;
}

.gwt-Button:hover {
    background-color: #51acd6;
}

.gwt-Button:active {
    position: relative;
    top: 1px;
}

.gwt-Button button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006bb3), color-stop(1, #51acd6));
    background: -moz-linear-gradient(top, #006bb3 5%, #51acd6 100%);
    background: -webkit-linear-gradient(top, #006bb3 5%, #51acd6 100%);
    background: -o-linear-gradient(top, #006bb3 5%, #51acd6 100%);
    background: -ms-linear-gradient(top, #006bb3 5%, #51acd6 100%);
    background: linear-gradient(to bottom, #006bb3 5%, #51acd6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006bb3', endColorstr='#51acd6', GradientType=0);
    background-color: #006bb3;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    border: 3px solid #196cab;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    padding: 3px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
}

.myGrid {
    background: #006bb3;
    margin-left: auto;
    margin-right: auto;
}

.panelButton {
    background-color: transparent;
    border: 2px solid #fefeff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #989a99;
}

.panelButton:hover {
    background-color: transparent;
}

.panelButton:active {
    position: relative;
    top: 1px;
}

.input {
    margin-left: auto;
    margin-right: auto;
}

.myPanel {
    margin-left: auto;
    margin-right: auto;
}

.myNewGrid {
    margin-left: auto;
    margin-right: 5em;
}

.boxForLogging {
    text-decoration-color: white;
    color: white;
    background-color: #006bb3;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-emphasis-color: white;
}

.popupMessage {
    text-decoration-color: white;
    color: white;
    background-color: #006bb3;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-emphasis-color: white;
    -webkit-text-fill-color: white;
}

.gwt-PushButton {
    background-color: transparent;
    border: 1px solid #fefeff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #989a99;
}

.gwt-PushButton:hover {
    background-color: white;
    color: black;
}

.infoLabel {
    color: red;
}

.gwt-DialogBox .Caption {
    background: #006bb3;
    padding: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-emphasis-color: white;
    -webkit-text-fill-color: white;
}
